@import url(./style.css);

html,
main {
  height: 100vh;
  background: linear-gradient(#141e30, #243b55);
  animation: fadeIn 1s ease-out;
  animation-fill-mode: backwards;
  animation-direction: normal;
}

main {
  height: 100%;
}

header {
  animation: fadeIn 0.5s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-direction: normal;
}

.signup-box {
  animation: fadeIn 0.5s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-direction: normal;
}

.elementToFadeInAndOut {
  animation: fadeOut 0.5s ease-in
}

.headerToFadeInAndOut {
  animation: fadeOut 0.5s ease-in;
}

.backgroundToFadeInAndOut {
  animation: fadeOut 0.5s ease-in;
  background-color: white
}

.signup-box {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  font-family: Orbitron, sans-serif;
  text-align: center;
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input:not(input[type="submit"]) {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  font-family: Orbitron, sans-serif;
}

/* .signup-box .user-box input:focus~label:not(input[type="submit"]):not(input[type="date"]),
.signup-box .user-box input:valid~label:not(input[type="submit"]):not(input[type="date"]) {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 10px;
} */

.signup-box .user-box input:not(input[type="submit"], input[type="date"]):focus~label,
.signup-box .user-box input:not(input[type="submit"], input[type="date"]):valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 10px;
}


p {
  color: white;
  font-family: Orbitron, sans-serif;
}

.signup-box form input[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  background: #141e30;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  font-family: Orbitron, sans-serif;
  border: none;

}

.signup-box .user-box:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40%;
  height: 4em;
  padding-bottom: 2.5em;
}

.signup-box input[type="submit"]:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.signup-box .user-box:last-child span {
  position: absolute;
  display: block;
}

.signup-box .user-box:last-child span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.signup-box .user-box:last-child span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.signup-box form .user-box:last-child span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.signup-box form .user-box:last-child span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.logout-btn {
  text-decoration: none;
  color: black;
}

.registrationContainer .user-box:last-child {
  width: 11em;
}

.newHabitContainer {
  background: #03e9f4;
  box-shadow: #003a3d;
  top: 65%;
  width: 50%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.newHabitContainer .newHabitUserBox{
  width: 80%;
  /* margin: 0 auto; */
}

.newHabitContainer input::placeholder {
  color: #fff;
}

.newHabitContainer .user-box:nth-child(5),
.newHabitContainer .user-box:nth-child(6) {
  width: 15em;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 12px;

  /* height: 400px; */
}



.signup-box .user-box input[type="date"]:focus~label,
.signup-box .user-box input[type="date"]:valid~label {
  top: -20px;
  color: rgba(0, 0, 0, 0.5);


}

.datePicker::-webkit-calendar-picker-indicator {
  /* color: #fff; */
  cursor: pointer;
  color: orange;
}


.newHabitContainer .user-box:last-child {
  width: 70%;
  border-radius: 1.1em;
  margin: 0 auto;
}

.habits {
  top: 58%;
}

.new-habit-btn {
  position: absolute;
  /* right: 10%; */
  top: 20%;
  left: 80%;

}

#new-habit {
  color: black;
  position: absolute;
  /* right: 10%; */
  top: 20%;
  left: 80%;
  text-transform: uppercase;
  padding: 1em 0.5em;
  text-decoration: none;
  border-radius: 1em;
  width: 8em;
  text-align: center;
  background: #03e9f4;
  box-shadow: #003a3d;
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  color: #fff;
  transition: .8s;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-delay: .25s
}
